<section class="tabs" data-component="tabs" aria-label="Options tabs">
  <div role="tablist" aria-label="Codex tabs">
    <button role="tab" id="tab-lore" aria-controls="panel-lore" aria-selected="true" tabindex="0">Lore</button>
    <button role="tab" id="tab-factions" aria-controls="panel-factions" aria-selected="false" tabindex="-1">Factions</button>
    <button role="tab" id="tab-artifacts" aria-controls="panel-artifacts" aria-selected="false" tabindex="-1">Artifacts</button>
  </div>
  <article role="tabpanel" id="panel-lore" aria-labelledby="tab-lore">
    <p>The realm of Halcyon is bound by ancient accords with the Ember Court.</p>
  </article>
  <article role="tabpanel" id="panel-factions" aria-labelledby="tab-factions" hidden>
    <ul>
      <li>Crownwatch Vanguard</li>
      <li>Umbral Cabal</li>
    </ul>
  </article>
  <article role="tabpanel" id="panel-artifacts" aria-labelledby="tab-artifacts" hidden>
    <p>Echo Lantern, Phoenix Sigil, Whisper Chain.</p>
  </article>
</section>
